.home_page {
  display: flex;
  flex-direction: column;
}

.header_frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
}

.header_frame .container {
  flex-direction: row;
}

.container .header_left {
  position: relative;
  padding: 15px;
  width: 871px;
  height: 508px;

  background-color: #0053f6;
  background-image: url("../images/other/header\ bg.svg");
}

.header_left .header_content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}

.header_content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #f5c34b;
  border-radius: 6px;

  color: var(--Color-Text-Dark, #041e42);

  font-family: Jost;
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
}

.header_content span {
  margin-top: 10px;
  width: 428px;

  color: var(--Bg-White, #fff);
  font-family: Jost;
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header_content p {
  margin-top: 10px;

  color: var(--Bg-White, #fff);

  font-family: Jost;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.header_content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #ffffff;
  border-radius: 6px;

  color: var(--Color-Text-Dark, #041e42);
  text-align: center;

  font-family: Jost;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
}

.header_content img {
  position: absolute;
  right: 10px;
}

.container .header_right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header_right .header_box {
  margin-left: 20px;
  width: 422px;
  height: 240px;

  display: flex;
  flex-direction: row;
  background: #f2f2f2;
  border-radius: 5px;
}

.header_right .box_left {
  margin-left: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box_left span {
  font-family: Jost;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
  color: #0053f6;
}

.box_left p {
  margin: 10px 0px;
  font-family: Jost;
  font-size: 1.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: var(--Color-Text-Dark, #041e42);
}

.box_left a {
  font-family: Jost;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.375rem;
  color: var(--Color-Text-Dark, #041e42);
}

.box_left .hover_border {
  margin-top: 3px;
  width: 32px;
  height: 2px;

  background: #041e42;
}

.header_box .box_right {
  width: 100%;
}

.box_right img {
  width: 100%;
  height: 100%;
}
